body {
  background-color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*** nav top screen bar ***/
.nav-left {
  overflow: hidden;
  background-color: #333;
}

.nav-left a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 18px;
}

.nav-left a:hover {
  background-color: #464545;
  color: black;
}

.nav-right {
  float: right;
}

/*** container for contact tab ***/
.container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  background: white;
  display: flex;
}

.contact-left {
  flex-basis: 100%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 60%;
  padding: 45px;
  background: rgb(49, 49, 49);
}

/***get in contact left display***/
h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-bottom: bottom;
}

textarea {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: black;
}

/***button***/
button {
  background: black;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 30px;
  outline: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px black;
}

/***contact-right display box***/
.contact-left h3 {
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  color: white;
  padding-right: 30px;
}

tr td {
  color: white;
  padding-top: 40px;
}

/***no resize***/
textarea {
  resize: none;
}

/***about me***/
.index {
  display: flex;
  width: 50%;
  margin: 5% auto auto auto;
  border-radius: 15px;

}

.picture {
  width: auto;
  float: left;
  margin: 5px;
  box-shadow: 0 2px 20px black;
  padding: 15px;
  color: black;
  background: rgb(119, 118, 118);
  border-radius: 15px;
}

.picture img {
  width: 150px;
  height: 150;
  border-radius: 50%;
  float: left;
  margin: 40px 20px 30px 0;
  border: 5px solid rgb(0, 0, 0);
  shape-outside: circle();
}

.index h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  text-align: justify;
  line-height: 20px;
}

footer {
  margin-top: auto;
}